# Project-specific
my.keystore
pom.xml
*jar
/lib/
/classes/
.lein-deps-sum
*~
*#
.cake
.DS_Store
.#*
.emacs-project
.lein-failures
target

# Personal workspace
scratch/
personal/
.~lock*
my4clojure.iml
.nrepl-port
lsp/

# Temporary directories
tmp/

# Generated directories
public-html/
out/

# Log files
*.log
*.tex

# IDEA
.idea/
*.iml

# cljs-shadow
dev-resources/public/js/
dev-resources/public/css/
yarn.lock
package-lock.json
.shadow-cljs/
prod-resources/
node_modules/

# Cache directory
.cpcache/

# CLJ errors
trace.edn

# clj-kondo cache
.cache/

.calva/
.clj-kondo/
